// Notes
//   media query + sass stuff
//   https://dev.to/paul_duvall/sass-and-media-queries-hb2

$displayCanvasDim: 300px;
$displayCanvasMargin: 20px;

$yellow: rgba(255, 227, 48);
$yellowLight: rgba(255, 227, 48, 0.5);
$yellowDark: rgba(206, 193, 111);
$black: rgba(0, 0, 0, 0.5);


@font-face {
  // Oh god this font stuff is messsyyyyyy
  font-family:"Legothick";
  src:url("Legothick.eot?")
  format("eot"),
  url("Legothick.woff")
  format("woff"),
  url("Legothick.ttf")
  format("truetype"),
  url("Legothick.svg#Legothick")
  format("svg");
  font-weight:normal;
  font-style:normal;
}

@mixin mobileDesign {
  @media only screen and (max-width: 2 * ($displayCanvasDim + $displayCanvasMargin)) { @content }
}

// generic content
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="range"] {
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-track,
  &::-moz-range-track {
    border: 1px solid $black;
    border-radius: 4px 4px 4px 4px;
    height: 4px;
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    height: 15px;
    width: 15px;
    margin-top: -5px;
    background-color: $yellow;
    border: 1px solid $black;
    border-radius: 15px;

  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      background-color: $yellowDark
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legoFont {
  font-family: 'Legothick';
}

// specific stuff

#header {
  @extend .centre;

  width: 100%;
  background-color: $yellow;
  box-shadow: 0 20px 5px -5px $yellowLight;
  margin-bottom: 30px
}

#imgdiv {
  @extend .centre;

  @include mobileDesign {
    flex-direction: column;
  }

  justify-content: space-around;
}

.displayCanvas {
  width: $displayCanvasDim;
  margin: $displayCanvasMargin;
  height: auto;
}
